snippet TODO "Add Todo Comment" !b
# TODO ${1:discriptions} (hongbo @ `date +'%Y-%m-%d %H:%M'`)
endsnippet

snippet NOTE "Add NOTE" !b
# NOTE ${1:discriptions} (hongbo @ `date +'%Y-%m-%d %H:%M'`)
endsnippet

snippet NOIM "Raise NotImplementedError" !b
raise NotImplementedError
endsnippet

snippet enc "Add encoding header" !b
# -*- coding: utf-8 -*-
endsnippet
