source ~/.vim/vimrc

" gui
set guioptions-=rL

" font
" set guifont=monaco:h12
set guifont=M+\ 1m\ light:h15

" for vimwiki
let mainwiki = {}
let mainwiki.path = '~/iCloud/Docs/VimWiki/'
let mainwiki.nested_syntaxes = {'python': 'python', 'sh': 'sh'}
let mainwiki.auto_toc = 1
let mainwiki.syntax = 'markdown'
let mainwiki.ext = '.md'
let g:vimwiki_list = [mainwiki]
let g:vimwiki_folding = 'expr'

" for Ultisnips
let g:UltiSnipsEditSplit = "vertical"

" for NERDTree
let NERDTreeIgnore=['\.pyc$', '\~$']

" for Ruby shiftwidth
au FileType ruby setlocal shiftwidth=2

" Auto insert JIRA number in Git Commit (Need refactory)
au FileType gitcommit nmap <buffer> I :call PreInsertJIRA()<CR>
function PreInsertJIRA()
    g/ORI-[0-9]\+/y
    normal ggPdthxxf-;DJxA: 
    startinsert!
endfunction

" colo
let g:lightline = {}
" let g:airline#extensions#tabline#enabled = 1
if has('gui_running')
    set background=light
    colorscheme atom
    let g:lightline.colorscheme = 'darcula'
else
    " set termguicolors
    set background=dark
    colorscheme dracula
    let g:lightline.colorscheme = 'darcula'
endif
