source ~/.vim/vimrc

" gui
set guioptions-=rL

" font
" set guifont=monaco:h12
set guifont=M+\ 1m\ light:h15

" for vimwiki
let mainwiki = {}
let mainwiki.path = '~/iCloud/Docs/VimWiki/'
let mainwiki.nested_syntaxes = {'python': 'python', 'sh': 'sh'}
let mainwiki.auto_toc = 1
let mainwiki.syntax = 'markdown'
let mainwiki.ext = '.md'
let g:vimwiki_list = [mainwiki]
let g:vimwiki_folding = 'expr'

" for Ultisnips
let g:UltiSnipsEditSplit = "vertical"

" for NERDTree
let NERDTreeIgnore=['\.pyc$', '\~$']

" for Ruby shiftwidth
au FileType ruby setlocal shiftwidth=2
